<link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    window.onload = function () {
        var $grid = $('.grid').packery({
            itemSelector: '.grid-item',
            // columnWidth helps with drop positioning
            columnWidth: 100
        });
        initGrid();
    }
</script>

<h1>Badgerloop Dashboard PoC</h1>

<div id="mainGrid" class="grid">
    <div class="grid-item grid-item--large grid-item--chart"><canvas id="myChart" width="100%" height="100%"></canvas></div>
    <div id="box2" class="grid-item">Text</div>
    <div class="grid-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Edit
                    Data Points
                </button>
                <a id="sizeButton" class="dropdown-item" href="#">Edit Size</a>
                <a class="dropdown-item" href="#">Delete Tile</a>
            </div>
        </div>

    </div>
    <div class="grid-item">Stat</div>
    <div class="grid-item grid-item--width2 grid-item--height2">Data</div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2 grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div id="addButton" class="grid-item"><button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addButtonModal">+</button></div>
</div>

<script>
    var ctx = document.getElementById("myChart")
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<div class="modal fade" id="addButtonModal" tabindex="-1" role="dialog" aria-labelledby="addButtonModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="addButtonModalTitle">Add Grid Item</h5>
            </div>
            <div class="modal-body">
                <button class="btn btn-lg btn-success" onclick="addGridItem(0)" data-dismiss="modal">1x1</button>
                <button class="btn btn-lg btn-success" data-dismiss="modal" onclick="addGridItem(1)">2x1</button>
                <button onclick="addGridItem(2)" data-dismiss="modal" class="btn btn-lg btn-success">1x2</button>
                <button onclick="addGridItem(3)" data-dismiss="modal" class="btn btn-lg btn-success">3x3</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/grid.js"></script>