.packery-drop-placeholder {
    outline: 3px dashed #444;
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }

.grid{
    background: #e5e5e5;
}

.downloadButton{
    width: 50%;
    margin: auto;
}